@page "/Entradas/Adicionar"


<PageTitle>@Title</PageTitle>


<h1>@Title</h1>


<Form ButtonText="Criar Entrada" entrada="@entrada"/>


@code {
    string Title = "Registrar Entradas";
    Entrada entrada = new Entrada();

    public Add()
    {
        InicializarCampos();
    }

    private void InicializarCampos()
    {
        DateTime agora = DateTime.UtcNow;
        DateTime dtInicio = new DateTime
        (
            year: agora.Year,
            month: agora.Month,
            day: 1
        );
        DateTime dtFim = new DateTime(
            year: agora.Year,
            month: agora.Month,
            day: DateTime.DaysInMonth(agora.Year, agora.Month)
        );

        entrada.DataInicio = dtInicio;
        entrada.DataFim = dtFim;
    }
}