@using InfraData.Model

<EditForm Model="@entrada" OnInvalidSubmit="@OnValidSubmit">

    <FluentValidator TValidator="PersonValidator" /> //todo: ver oque é isso e fazer
    <div class="form-group">
        <label>Nome :</label>
        <div>
            <InputText @bind-Value="@entrada.Nome" class="form-control col-sm-3" />
            @*<ValidationMessage For="@(() => entrada.Nome)" />*@
        </div>
    </div>
</EditForm>

@code{
    [Parameter]
    public Entrada entrada { get; set; }
    [Parameter]
    public string ButtonText { get; set; } = "Salvar";
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}