@page "/MinhasContas/Index"


<PageTitle>@Title</PageTitle>


<h1>@Title</h1>
<p>Anote aqui suas dividas para não esquecer de nada :)</p>
<br/>
<div class="col-md-7">
    <NavLink 
        href="/MinhasContas/Adicionar"
        class="btn btn-sm btn-success mb-2">
        Adicionar
    </NavLink>
</div>


@code{
    public string Title = "Minhas Contas";
}