@page "/MinhasContas/Index"

<h3>Minhas Contas</h3>

<PageTitle>Minhas Contas</PageTitle>

<p>Anote aqui suas dividas para não esquecer de nada :)</p>

<br/>

<div class="col-md-7">
    <NavLink href="/MinhasContas/Adicionar"
        class="btn btn-sm btn-success mb-2">
        Adicionar
    </NavLink>
</div>